node_modules/
npm-debug.log*
logs/
*.log

.env
.env.local
.env.*.local
client/.env
server/.env
ai-service/.env

dist/
build/

venv/
ENV/
env/
.venv/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

build/
develop-eggs/
.eggs/
dist/

.vscode/
.idea/
*.swp
